/* Start Text Shine */
.text-shine {
  position: relative;
  padding: 12px 48px;
  color: var(--light-color);
  background: linear-gradient(to right, var(--main-color) 0, var(--light-color) 10%, var(--main-color) 30%);
  background-position: 0;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 300px
  }

  100% {
    background-position: 300px;
    -webkit-text-fill-color: var(--main-color);
  }
}
/* End Text Shine */

/* Start hidden message */
.hidden-msg {
  width: 9.25em;
  height: 1.15em;
  font-size: 2rem;
  font-family: sans-serif;
  position: relative;
  background-color: var(--light-color);
}
.hidden-msg div {
  position: absolute;
  left: 0;
  text-transform: uppercase;
  width: 100%;
  display: block;
  text-align: center;
  transition: 0.5s;
}

.hidden-msg .upper {
  top: 0;
  height: 60%;
  color: var(--main-color);
  font-size: 20px;
  overflow: hidden;
  z-index: 5;
}

.hidden-msg .lower {
  top: 0px;
  height: 100%;
  font-size: 20px;
  z-index: 3;
}
.hidden-msg .lower::before {
  content: '';
  transition: 0.2s;
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  height: 13px;
  background-color: var(--light-color);
}
.hidden-msg:hover .lower {
  top: 12px;
}
.hidden-msg:hover .upper{
  top: -30px
}
.hidden-msg:hover::before {
  opacity: 0;
}
.hidden-msg .inside {
  position: relative;
  text-align: center;
  z-index: 1;
  font-size: 1rem;
  color: var(--main-color);
}
.hidden-msg::before {
  content: '';
  width: 100%;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25%);
  background-color: var(--light-color);
  transition: 0.4s;
  z-index: 2;
}
.hidden-msg.arabic .upper{
  height: 100% !important;
  top: -20px;
}
.hidden-msg.arabic .lower{
  top: -20px;
}
.hidden-msg.arabic:hover .upper {
  top: -40px;
}
.hidden-msg.arabic:hover .lower {
  top: 7px;
}

.hidden-msg.arabic .lower::before{
  top: 18px;
}
/* End hidden message */

/* Start Hidden Between Message */
.hidden-between {
  display: flex;
  gap: 8px;
  transition: 0.5s;
  position: relative;
}
.hidden-between::before {
  content: 'Are You Here?';
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  font-size: 1rem;
  transition: 0.5s;
  opacity: 0;
}
.hidden-between.arabic::before {
  content: 'هل انت هنا؟'
}
.hidden-between:hover {
  gap: 150px;
}
.hidden-between:hover::before {
  opacity: 1;
}
/* End Hidden Between Message */