/* Start Global Rules */
:root {
  --dark-color: white;
}
/* End Global Rules */
/* Start Nav */
body.dark {
  background-color: var(--main-color);
}
body.dark nav .logo {
  color: var(--dark-color);
}
body.dark nav ul.nav-links {
  border-color: var(--dark-color);
}
body.dark nav ul.nav-links li a {
  color: var(--dark-color);
}
body.dark nav ul.nav-links .mode-btn i {
  color: var(--main-color);
  background-color: var(--dark-color);
}
body.dark nav .special-btn {
  color: black;
  background-color: var(--dark-color);
}
/* End Nav */
/* Start Header */
body.dark header {
  color: var(--dark-color);
}
body.dark header h2 {
  color: var(--dark-color);
}
body.dark header p {
  color: var(--dark-color);
}
body.dark header .half-btns button {
  border-color: var(--dark-color);
}
body.dark header .half-btns button:nth-child(1) {
  background-color: var(--dark-color);
  color: var(--main-color);
}
body.dark header .half-btns button:nth-child(1):hover {
  background-color: var(--main-color);
  color: var(--dark-color)
}
body.dark header .half-btns button:nth-child(2) {
  background-color: var(--main-color);
  color: var(--dark-color);
}
body.dark .my_name {
  color: var(--dark-color);
}
body.dark .my_name .hidden-msg {
  background-color: var(--main-color);
}
body.dark .my_name .hidden-msg::before {
  background-color: var(--main-color);
}
body.dark .my_name .hidden-msg .lower::before {
  background-color: var(--main-color);
}
body.dark .my_name .hidden-msg .upper {
  color: var(--dark-color) ;
}
body.dark .my_name .hidden-msg .inside {
  color: var(--dark-color) ;
}
/* End Header */